/** MAIN LAYOUT - FIXED
---------------------------------*/

#page{
	width:980px;
	margin:0 auto;
}

#content {
	float:left;
	width:100%;
	margin-right:-100%;
	padding:0;
}
#content-inner {
	margin-right: 350px;
	padding:0 10px 0 0;
}
#content-header-bar { /** Title Bar **/
	background-color: #07090a;
	margin: 0 -9px 10px;
	padding: 5px 9px;
}
.inner{
	padding: 10px;	
}

/* header 
--------------------------- */
#header {
	margin: 0 0 10px 0;
}
#header #header-region {
	overflow: hidden;
}
#header #navi-search-secondary {
	height: 60px;
}
#header #navi-search-secondary #search-secondary {
	width: 300px;
	padding: 0 25px;
	float: right;
}
#header #navi-search-secondary #search-secondary #search {
	width: 300px;
	float: right;
	height: 25px;
}
#header #navi-search-secondary #search-secondary #secondary {
	max-width: 300px;
	height: 16px;
	display:block;
}
#navigation {
	float:left;
}
/* banner 
--------------------------- */

#banner {
	margin: 0 0 10px 0;
	background: url(../images/banner.jpg) left top no-repeat; /** Banner Image Remove this line if you don't want. **/
}

#banner #banner-region {
	width: 620px;
	background-color:#000;
	margin: 0 10px 0 0;
	float: left;
}

#banner #logo-title {
	width: 350px;
	float: right;
	padding-top: 60px;
	min-height: 220px;
	margin: 0;
	position: relative;
	background: url(../images/drupal-shade.png) center no-repeat;
}
#banner #logo-title #logo{
	vertical-align: baseline;
}

/*---------------------------------*/

/* sidebar 
--------------------------- */

#sidebar {
	width: 350px;
	float: right;
	margin-bottom: 10px;
}

#sidebar-left {
  float: left;
  width: 164px;
  margin: 0 0 0 10px;
  border-right:dashed #2c363e 1px;
}

#sidebar-right{
  float: left;
  width: 165px;
  margin: 0 10px 0 0;
}
#sidebar-left-inner {
	margin: 10px 4px 10px 0;
}
#sidebar-right-inner {
	margin: 10px 0 10px 5px;
}
#sidebar-bottom {
	clear:both;
	margin-bottom: 10px;
}
#contactcard {
	width: 348px;
	float: right;
	margin-bottom: 10px;
	clear: right;
	height: 180px;
	background: red url(../images/gradient.png) center repeat-x;
	border: #2c363e 1px solid;
}
#contactcard #name-and-slogan {
	margin-top: 50px;
	position:relative;
}
#contactcard #footer-message {
	font-size: 9px;
	margin: 0 10px;
}

.block-title { /** Block Title Bar **/
	background-color: #07090a;
	margin: 0 -9px;
	padding: 3px 9px;
}
#sidebar-left .block-title { /** Sidebar Left Title Bar **/
	background-color: #07090a;
	margin: 0 -3px 0 -9px;
	padding: 3px 3px 3px 9px;
}
#sidebar-right .block-title { /** Sidebar Right Title Bar **/
	background-color: #07090a;
	margin: 0 -9px 0 -4px;
	padding: 3px 9px 3px 4px;
}


/*---------------------------------*/

/* footer 
--------------------------- */

#footer {
	float: none;
	clear:both;
	padding: 10px;
	background:#101316 url(../images/bg-footer.png) top repeat-x;
	text-align:center;
}
.themecredits {
	font-size: 9px;
	text-align:center;
}


/*---------------------------------*/

/* Layout Helpers */
body {
	background-color: #000;
	color: #fff;
}
th {
	color: #2c363e; 
}
#header,
#footer,
#main #content .mission,
#main #content .breadcrumb,
#main #content .node {
	clear: both;
}
#content-top, #content-bottom {
	background-color: #101316;
	margin-bottom: 10px;
	border: #2c363e 1px solid;
}
#content-header #messages {
	background: green url(../images/gradient.png) center repeat-x;
	margin-bottom: 10px;
	border: #2c363e 1px solid;
}
#content-header #tabs {
	background: #101316 url(../images/gradient.png) center repeat-x;
	border: #2c363e 1px solid;
	border-bottom: 0;
}
#content-header #mission {
	background: red url(../images/gradient.png) center repeat-x;
	margin-bottom: 10px;
	border: #2c363e 1px solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size: 1em;
}
#content-area {
	background-color: #101316;
	margin-bottom: 10px;
	border-top: #2c363e 1px solid;
}
#sidebar {
	border-top: #2c363e 1px solid;
	background-color: #101316;
}
#navi-search-secondary {
	background:#101316 url(../images/bg-navi.png) bottom repeat-x;
}
