/* GENERAL Styles 
----------------------------*/

body {
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
}

#page {
	/* Use a 14px base font size with a 18px line height */
  font-size: 0.875em; /* 16px x .875 = 14px */
  line-height: 1.286em; /* 14px x 1.286 = 18px */
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}


/* When declaring Link states, remember: LoVe HA : Link | Hover | Visited | Active */

a:link, a:visited {
  color: #2c363e;
  text-decoration:none;
}

a:hover, a:active {
  color: #700000;
  text-decoration:underline;
}

/* Titles  */
h1 {
	font-size:1.6em;
	line-height:1.3em;
	margin:0;
	font-style:italic;
	color: #2c363e;
}
h2 {
	font-size:1.4em;
	line-height:1.2em;
	margin:0;
	font-style:italic;
	color: #2c363e;
}
h3 {
	font-size:1.2em;
	line-height:1em;
	margin:0;
	font-style:italic;
	color: #2c363e;
}
/* Breadcrumb Styles */
.breadcrumb {
	margin: 0;
	padding: 0;
}
/* Paragraph Styles */

.node p {
  margin: 1em 0;
}

/* List Styles  */

ul, ol {
  margin: 0 0 0 10px;
  padding: 0;
}
.block ul, .block ol{
  margin: 0;
  padding: 0;
}
.item-list ul li {
	margin: 0;
	padding-top: 0pt;
	list-style-image: none;
	list-style-type:square;
	list-style-position:inside;
	color:#2c363e;
}
/* Table Styles  */

table {
	width: 99%;
}
tr.even td, tr.odd td {
	padding: 10px 5px;
	border-color: #2c363e; 
}
tr.even {
	background-color: #0b0b0b;
}
tr.odd {
	background-color: #101316;
}

/* Code */

pre, code {
	background-color:#efefef;
	display:block;
	padding:5px;
	margin:5px 0;
	border:1px solid #2c363e;
  font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
}

/* List Styles */

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

/* Abbreviation */

abbr {
  border-bottom: 1px dotted #2c363e;
  cursor: help;
  white-space: nowrap;
}

/* Date-based "abbreviations" show computer-friendly timestamps which are not
   human-friendly. */

abbr.created {
  border: none;
  cursor: auto;
  white-space: normal;
}

/* User Interface Styles 
---------------------------- */

.resizable-textarea textarea {
	font-size:14px!important;
}
.messages {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #2c363e;
	color: #04a107;
	background-color: #edffed;
}
form{
	margin:10px 0;
}
input.form-text, textarea {
  background: #2c363e;
  padding: 2px;
  margin: 0;
  border: 0;
  color: #000;
}

input.form-submit {
  padding: 0 12px;
  overflow: visible;
  font-weight: bold;
  cursor:pointer;
  background-color: #07090a;
  border-top: 1px solid #2c363e;
  border-right: 1px solid #2c363e;
  border-bottom: 1px solid #2c363e;
  border-left: 1px solid #2c363e;
  color: #2c363e;
}
option, select, input.form-radio {
  padding: 0;
  cursor:pointer;
  background-color: #07090a;
  border-top: 1px solid #2c363e;
  border-right: 1px solid #2c363e;
  border-bottom: 1px solid #2c363e;
  border-left: 1px solid #2c363e;
  color: #2c363e;
}

/** Custom Search Box **/
#search form{
	margin: 10px 0 0;
}
#search {
  float: right;
  height: 25px;
  display:block;
  padding-top: 3px;
}
#search input.form-text {
  background: #2c363e;
  padding: 2px;
  margin: 0;
  float: left;
  border: 0;
  color: #101316;
}
#search input.form-submit {
  padding: 0 12px;
  overflow: visible;
  font-weight: bold;
  background-color: #07090a;
  border-top: 1px solid #2c363e;
  border-right: 1px solid #2c363e;
  border-bottom: 1px solid #2c363e;
  border-left: 1px solid #2c363e;
  color: #2c363e;
  cursor:pointer;
}
.block-region {
	background-color: #000;
}

/* Rollover edit links for blocks
----------------------------*/

div.block {
  position: relative;
}
div.block div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  border: 1px solid #2c363e;
  padding: 0 2px;
  font-size: 11px;
  background-color: #fff;
}
div.block:hover div.edit {
  display: block;
}
.system-status-report .error td {
	color: red;
}
.system-status-report .ok td {
	color: blue;
}
body {
	background: #000 url(../images/body.jpg) top center no-repeat;
}