/**
 * Primary navigation
 */
ul.primary-links {
  margin: 0 0 0 1em;
  padding: 0;
  position: relative;
  z-index: 900;
}

ul.primary-links li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
  display: block;
  margin: 0;
  padding: 1em;
  font-size: 1.2em;
  height: 26px;
  color: #2c363e;
  font-style:italic;
}

ul.primary-links li a:hover, ul.primary-links li a.active {
  color: #700000;
  background: #000;
  border-left: 1px solid #2c363e;
  border-right: 1px solid #2c363e;
  text-decoration:none;
}

/**
 * Secondary navigation
 */
ul.secondary-links {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  z-index: 4;
}

ul.secondary-links li {
  margin: 0;
  padding: 0;
  float: left;
  background-image: none;
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
  display: block;
  font-size:9px;
  margin: 3px .75em 0 0 ;
  padding:0 0;
  color: #2c363e;
  background: transparent;
}

ul.secondary-links li a:hover, ul.secondary-links li a.active {
  color: #700000;
  background: transparent;
}

/* Tabs */

ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}
ul.primary, ul.secondary {
  padding: 0.5em 0 10px;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
}
ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  color: #2c363e;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
  color: #700000;
}

