/* Simple Layout reset */

* { margin: 0; padding: 0;}

.codeclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.codeclear { display: inline-block; }

/* Hides from IE-mac \*/
* html .codeclear { height: 1%; }
.codeclear { display: block; }
/* End hide from IE-mac */

/* clear classes for content */

.clearleft { clear: left; }

.clearright { clear: right; }

.clearboth { clear: both; }

/* Float classes for images */

.floatleft { float: left; margin: 0 10px 5px 0 !important; }

.floatright { float: right; margin: 0 0 5px 10px !important; }

.floatleft .caption { font-size: 10px; font-weight: bold; text-transform: uppercase; padding-top: 5px; }

/** Prevent overflowing content **/

#header,
#content,
#sidebar-left,
#sidebar-right,
#footer {
  overflow: visible;
}

/* bug fix with views 2 edit links */

div.view div.views-admin-links {
	width:auto;
}